<ul>
  <%if(locals.user.id==property.user.id){%>
  <li style="background-color: aliceblue">
    <p>
      <img
        src="<%=user.avatar%>"
        style="height: 50px; width: 50px; border-radius: 50px"
      />
    </p>
    <p>
      Owner:<b
        ><a href="/owner/profile/<%=user.id%>"><%=property.user.name%></a></b
      >
    </p>

    <p>Property Details:<b> <%=property.text%></b></p>
    <p>Property Place:<b> <%=property.place%></b></p>
    <p>Property Price:<b> <%=property.price%></b></p>
    <a href="/property/destroy/<%=property.id%>" style="text-decoration: none"
      >Delete</a
    >
    <%for(bid of property.bids){%> <%-include('_bid');%> <%}%>
  </li>
  <%}%>
</ul>
