<!-- if user is owner of property then show this part -->
<%if(locals.user && locals.user.isAdmin){%>
<section style="width: 70%">
  <h1>Hi landlord</h1>

  <p>
    <a href="/owner/profile/<%=user.id%>"><%=user.name%></a>
  </p>
  <p><a href="/owner/destroysession/<%=user.id%>">SignOut</a></p>
  <!-- Property form -->
  <form action="/property/create" method="POST" id="property-form">
    <textarea
      name="text"
      placeholder="Enter your property details"
      rows="4"
      cols="25"
    ></textarea
    ><br />
    <input type="text" name="price" placeholder="Enter price" />
    <input type="text" name="place" placeholder="Enter place" />
    <input type="submit" value="Post" />
  </form>
</section>
<!-- if user is tenant then show this part -->
<% } else if(locals.user && !locals.user.isAdmin){%>
<section style="width: 70%">
  <h1>Hi tenant</h1>
  <p>
    <a href="/users/profile/<%=user.id%>"><%=user.name%></a>
  </p>

  <p><a href="/users/destroysession/<%=user.id%>">SignOut</a></p>
  <!-- if user is not logged in then show this part -->

  <% }else{%>
  <p>
    <a href="/owner/signin">Are you a landlord</a>
  </p>
  <p><a href="/users/signin">Are you a buyer</a></p>
</section>

<%} %>
<section style="width: 30%; position: absolute; left: 72%; top: 10%">
  <p style="font-size: 25px"><b>Property Dealers</b></p>
  <p>
    <%for(dealer of owner){%>
    <a href="/owner/profile/<%=dealer.id%>">
      <p style="position: relative">
        <img
          src="<%=dealer.avatar%>"
          alt="dealer"
          style="width: 45px; height: 45px; border-radius: 50%; cursor: pointer"
        />
        <b
          style="
            text-decoration: none;
            position: absolute;
            top: 33%;
            left: 15%;
            cursor: pointer;
          "
          ><%=dealer.name%></b
        >
      </p>
    </a>
    <%}%>
  </p>
</section>
<section style="width: 70%" id="property-list">
  <ul>
    <%for(property of properties){%>
    <p><%-include('_propertys');%></p>
    <%}%>
  </ul>
</section>

<script src="/js/status.js"></script>
<script>
  $(".bid_status").each(function () {
    let self = this;
    let statusupdate = new StatusUpdate(self);
  });
</script>
