<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%=title%></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <%- body -%> <%-script -%>
    <script>
      <% if(flash.success && flash.success.length>0){%>
          new Noty({
              layout:'topRight',
              text: '<%=flash.success%>',
              theme:'relax',
              timeout:1500,
              type:'success',
              closeWith:['click','button'],

              }).show();
      <% } %>
      <% if(flash.error && flash.error.length>0){%>
          new Noty({
              layout:'topRight',
              text: '<%=flash.error%>',
              theme:'relax',
              timeout:1500,
              type:'error',
              closeWith:['click','button']
              }).show();
      <% } %>
    </script>
    <script src="/js/property.js"></script>
  </body>
</html>
