 
<% if( user.id==owner_user.id) {%>
  <h1>Hi Landlord</h1>
<img
  src="<%=user.avatar%>"
  alt="<%=user.name%>"
  style="height: 100px; width: 100px"
/>
<form
  method="POST"
  action="/owner/update/<%=user.id%>"
  enctype="multipart/form-data"
>
  <input type="email" name="email" value="<%=user.email%>" />
  <input type="name" name="name" value="<%=user.name%>" />
  <input type="file" name="avatar" value="<%=user.name%>" />
  <input type="submit" />
</form>
<p><%=user.name%></p>
<p><%=user.email%></p> 
<p><%=user.phone%></p>
<p><a href="/owner/destroysession/<%=user.id%>>">SignOut</a></p>
<p><a href="/">Home</a></p>
<p><h1>My Properties</h1></p>
<section>
<%for(property of properties){%>
  <p> <%-include('_profileproperty')%></p> 
  <%}%> 
</section>
<% }else
{%>
  <p><a href="/">Home</a></p>
<h1>Landlord</h1>
<img src="<%=owner_user.avatar%>" style="height: 55px; width: 55px; border-radius: 50%;">
<p><%=owner_user.name%></p>
<p><%=owner_user.email%></p>
<p><%=owner_user.phone%></p>
<% } %>
