<h1>Hi landlord</h1>
<% if(locals.user && locals.user.isAdmin) {%>

<img
  src="<%=user.avatar%>"
  alt="<%=user.name%>"
  style="height: 100px; width: 100px"
/>
<form
  method="POST"
  action="/owner/update/<%=user.id%>"
  enctype="multipart/form-data"
>
  <input type="email" name="email" value="<%=user.email%>" />
  <input type="name" name="name" value="<%=user.name%>" />
  <input type="file" name="avatar" value="<%=user.name%>" />
  <input type="submit" />
</form>
<p><%=user.name%></p>
<%=user.email%> &nbsp;<%=user.phone%>
<p><a href="/owner/destroysession/<%=user.id%>>">SignOut</a></p>
<p><a href="/">Home</a></p>
<p><h1>My Properties</h1></p>
<%for(property of properties){%> <%-include('_profileproperty')%> <%}%> <% }else
{%>
<p><a href="/owner/signin">SignIn</a></p>
<p><a href="/owner/signup">Signup</a></p>
<% } %>
